<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<title>Ryan C. Dallavia - Resume</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="resume">
	
	<div class="top-section">
		<div class="headshot-container">
			<img src="{{ url_for('static', filename='images/ya.png') }}" alt="Your Name" class="resume-headshot">
		</div>
		<div class="contact-info">
			<h1>Ryan C. Dallavia</h1>
			<p>Chicago, Illinois | rcd_1693@protonmail.com</p>
		</div>
	</div>

    <section class="resume-section" id="experience">
		<h2>Projects</h2>
		<p>•	Created ticket-pricing model for ski-resort seeking an increase in ROA. Results indicated ticket prices could be increased by over 30%.</p><br>
		<p>•	Detected credit accounts in danger of falling into default.</p><br>
		<p>•	Segmented airline customers into groups for target marketing (R).</p><br>
		<p>•	Used SQLite3 database to store critical data and extract subsets therefrom using complex SQL queries.</p><br>

		<br>
        <h2>Professional Experience</h2>
		<strong><br>Springboard | Data Science Fellow</strong><br>                                                                                                     
		<p>June 2022 – Present</p><br>
		<p>•	Successfully completed over 550 hours of training in all aspects of the data science workflow.</p><br>
		<p>•	Peer-mentor to students new to the program and less experienced in programming and data science.</p><br>
		<p>•	Executed the data science and machine learning projects listed in projects section of CV.</p><br>

		<strong><br>K2 Advisors, L.L.C. | Business Valuation Analyst</strong><br>	
		<p>Jan. 2011 - Present</p><br>
		<p>•	Sole proprietorship, personally incorporated, providing business/asset valuation and portfolio optimization services to attorneys representing clients owning illiquid assets.</p><br>
		<p>•	All of finance is data science and includes statistics, so my personal experience in data science and machine learning in a financial context exceeds 12 years.</p><br>
		<p>•	Liaise with internal stakeholders to obtain a holistic picture of the context in which the data are situated.</p><br>
		<p>•	Ascertain the reasonableness of client-supplied data and forecasts via appropriate statistical techniques including: ARIMA models, multivariable regression, k-means clustering, and hierarchical clustering.</p><br>
		<p>•	Communicate results to counterpart in legal services and management at all levels both verbally and via concise written reports.</p><br>

		<strong><br>Valuation Research Corp. | Hedge Fund Analyst (High-Yield Debt)</strong><br>	
		<p>Dec. 2006 – Mar. 2010</p><br>
		<p>•	Valued illiquid, high-yield debt instruments held by private equity firms and hedge funds, as part of five-person team.</p><br>
		<p>•	Examined historical, budgeted, and pro-forma data to track company performance and value associated securities.</p><br>
		<p>•	Communicated analytical results, both orally and via concise written reports, to all levels of management (e.g., CFOs, managing directors).</p><br>

        <div id="timeline"></div> <!-- Placeholder for timeline entries -->
    </section>

	<section class="resume-section" id="education">
		<h2>Education</h2>

		<p><span class="degree">• Master of Science in Finance</span></p>
			<span class="school">University of Wisconsin - Madison</span>
			<span class="school">Applied statistical and machine learning techniques to financials of potential investments</span>
			<br>
		<p><span class="degree">• Bachelor of Arts in Sociology with Honors</span></p>
			<span class="school">William & Mary</span>
			<span class="school">Conducted statistical analysis of student behavior for Office of Student Assessment</span>

	</section>


    <section class="resume-section" id="certifications">
        <h2>Skills and Certifications</h2><br>
			<p>•	Fluent: Python, R, SQL. Familiar: C, JavaScript, AWS (ElasticBeanstalk, CI/CD, Route 53)</p>
			<p>•	AWS Analyze Datasets and Train ML Models Using AutoML (Aug 2023)</p>
			<p>•	Springboard - Data Science Career Track Bootcamp (Mar 2023)</p>
			<p>•	Stanford University Online - Introduction to Machine Learning (Skills Used: Python, NumPy, SciPy)</p>
			<p>•	MITx 15.071 - Massachusetts Institute of Technology Online - Data Analytics Edge (Skills Used: R, Advanced Stats)</p>
			<p>•	MITx 6.00.1 - Massachusetts Institute of Technology Online - Intro. to Programming with Python</p>
    </section>
</div>

<script src="scripts.js"></script>
</body>
</html>
