<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ryan C. Dallavia</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="resume">
	
	<div class="top-section">
		<div class="headshot-container">
			<img src="{{ url_for('static', filename='images/ya.png') }}" class="resume-image" alt="Ryan's Logo">
		</div>
		<div class="contact-info">
			<h1>Ryan C. Dallavia</h1>
			<p>Chicago, Illinois | rcd_1693@protonmail.com.com</p>
		</div>
	</div>

    <section class="resume-section" id="experience">
        <h2>Professional Experience</h2>
        <div id="timeline">
        <strong>Springboard | Data Science Fellow (June 2022 - Present)</strong>                                            
            <p>•	Successfully completed over 550 hours of training in all aspects of the data science workflow.</p>
            <p>•	Peer-mentor to students new to the program and less experienced in programming and data science.</p>
            <p>•	Executed the data science and machine learning projects listed at the top of the CV.</p>
            <br>
        <strong>K2 Advisors, L.L.C. | Business Valuation Analyst (Jan. 2011 - Present)</p></strong> 
            <p>•	Sole proprietorship, personally incorporated, providing business/asset valuation and portfolio optimization
                    services to attorneys representing clients owning illiquid assets.</p>
            <p>•	Personal experience in data science and machine learning in a financial context exceeds 12 years.</p>
            <p>•	Liaise with internal stakeholders to obtain a holistic picture of the context in which the data are situated. 
            <p>•	Ascertain the reasonableness of client-supplied data and forecasts via appropriate statistical techniques including: ARIMA models, multivariable regression, k-means clustering, and hierarchical clustering.</p>
            <p>•	Communicate results to counterpart in legal services and management at all levels both verbally and via concise written reports.</p>
            <br>
        <strong>Valuation Research Corp. | Hedge Fund Analyst (High-Yield Debt)	(Dec. 2006 - Mar. 2010) </strong>
            <p>•	Valued illiquid, high-yield debt instruments held by private equity firms and hedge funds, as part of five-person team.</p>
            <p>•	Examined historical, budgeted, and pro-forma data to track company performance and value associated securities.</p>
            <p>•	Communicated analytical results, both orally and via concise written reports, to all levels of management (e.g., CFOs, managing directors).</p>

        </div> <!-- Placeholder for timeline entries -->
    </section>

	<section class="resume-section" id="education">
		<h2>Education</h2>
		<ul>
			<li>
				<span class="degree">Master of Science in Finance</span>
				<span class="school">University of Wisconsin - Madison</span>
				<p>Specialized in quantitative methods used in valuing publicly-traded equity assets in the consumer space. </p>
			</li>
			<li>
				<span class="degree">Bachelor of Arts in Sociology</span>
				<span class="school">William & Mary</span>
				<p>Conducted statistical research on student behavior for Office of Institutional Research</p>
			</li>
		</ul>
	</section>


    <section class="resume-section" id="certifications">
        <h2>Skills and Certifications</h2>
        <ul>
            <li>•   Fluent in Python, SQL, and R. Familiar with C, Javascript, and web languages.</li>
            <li>•   AWS Conference: Analyze Datasets and Train ML Models Using AutoML (Aug 2023)</li>
            <li>•	Springboard - Data Science Career Track Bootcamp (Mar 2023)</li>
            <li>•	Stanford University Online - Introduction to Machine Learning (Skills Used: Python, NumPy, SciPy)</li>
            <li>•	MITx 15.071 - Massachusetts Institute of Technology Online: Data Analytics Edge (Skills Used: R, Advanced Stats)</li>
            <li>•	MITx 6.001 - Massachusetts Institute of Technology Online: Introduction to Programming with Python</li>
		</ul>
    </section>
</div>

<script src="scripts.js"></script>
</body>
</html>
